[{
    "team-away": "Liverpool",
    "team-home": "AC Milan",
    "status": "2 PENS 3",
    "start-time": "",
    "start-date": "25.05.05",
    "location": "Istanbul",
    "score-away": "3",
    "score-home": "3"
}]