<!DOCTYPE html>
   <head>
      <title>Scoreboard Configurator</title>
   </head>
   <body>
      <h1>Scoreboard Configurator</h1>
      <p><form action = "/reboot" method = "post"><input type = "submit" value = "Reboot" /></form></p>
      <p><form action = "/shutdown" method = "post"><input type = "submit" value = "Shutdown" /></form></p>
      <form action = "/update" method = "post"><input type = "submit" value = "Update Scoreboard Software (Admin Only)"  onclick="return confirm('This could break your scoreboard. Are you sure you want to continue?');"/></form>
      <form action = "/save" method = "post">
         <p><label for="state">Status:</label>
            <input type="radio" id="on" name="state" value="1" {{'checked' if data.state == '1' else ''}} />ON
            <input type="radio" id="off" name="state" value="0" {{'checked' if data.state == '0' else ''}} />OFF
            <input type="radio" id="custom" name="state" value="2" {{'checked' if data.state == '2' else ''}} />Custom Game(s)
         </p>
         <p><label for="team">Team:</label>
            <select name = "team">
               <option value="all" >All</option>
               {%for key in teams %} 
                  <option value="{{teams[key]}}" {{'selected' if teams[key] == data.team}}>{{teams[key]}}</option> 
               {%endfor%} 
            </select>
            
         </p>
         <p>
            <label for="live_score_type">Live Score Type:</label>
            <select name = "live_score_type">
               {%for competition in competitions %} 
                  <option value="{{competition.ID}}" {{'selected' if competition.ID == data.live_score_type}}>{{competition.Name}}</option> 
               {%endfor%} 
            </select>
         </p>
         <p><label for="weather_api_key">Weather API Key:</label><input type = "text" name = "weather_api_key" value="{{ data.weather_api_key }}"/> <a href="https://openweathermap.org/" target="_blank">Get API Key</a></p>
         <p><label for="state">Weather API Units:</label>
            {%for key in temp_types %} 
               <input type="radio" name='weather_api_units' value="{{key}}" {{'checked' if key == data.weather_api_units}}/>{{temp_types[key]}} 
            {%endfor%} 
         </p>
         <p><label for="weather_location">Weather Location:</label><input type = "text" name = "weather_location" value="{{ data.weather_location }}"/></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>

      <form action="/upload-image" method="POST" enctype="multipart/form-data">
         <h2>Add Team badges</h2>
         <div class="form-group">
         <label>Add Football team badges (30px x 30px PNG file only)</label>
         <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image ...</label>
         </div>
         </div>

         <button type="submit" class="btn btn-primary">Upload</button>

      </form>

      {% if custom_matches %}
         <form action = "/update_custom_matches" method = "post">
            <h2>Custom Matches</h2>
            {%for match in custom_matches %} 
               <div>
                  <button type="button" onclick="removeMatch(this);">-</button>
                  <p><label for="team-home[]">Team Home:</label>
                     <input type = "text" name = "team-home[]" value="{{ match['team-home'] }}"/>*
                     <img src="{{ url_for('download_file', filename=match['team-home'] + '.png') }}" />
                  </p>
                  <p><label for="team-away[]">Team Away:</label>
                     <input type = "text" name = "team-away[]" value="{{ match['team-away'] }}"/>*
                     <img src="{{ url_for('download_file', filename=match['team-away'] + '.png') }}" />
                  </p>
                  <p><label for="status[]">Status:</label>
                     <input type = "text" name = "status[]" value="{{ match.status }}"/>*
                  </p>
                  <p><label for="start-time[]">Start Time:</label>
                     <input type = "text" name = "start-time[]" value="{{ match['start-time'] }}"/>
                  </p>
                  <p><label for="start-date[]">Start Date:</label>
                     <input type = "text" name = "start-date[]" value="{{ match['start-date']  }}"/>*
                  </p>
                  <p><label for="location[]">Location:</label>
                     <input type = "text" name = "location[]" value="{{ match.location }}"/>*
                  </p>
                  <p><label for="score-home[]">Score Home:</label>
                     <input type = "text" name = "score-home[]" value="{{ match['score-home'] }}"/>*
                  </p>
                  <p><label for="score-away[]">Score Away:</label>
                     <input type = "text" name = "score-away[]" value="{{ match['score-away'] }}"/>*
                  </p>
                  <hr />
               </div>
            {%endfor%}
            <h2>New Match</h2><button type="button" onclick="addNewMatch();">+</button>
            <div id="new-matches">


            </div>
            <p><input type = "submit" value = "submit" /></p> 
         </form>

      {% endif %}

   </body>
   <script type="text/javascript">
      function removeMatch(el)
      {
         el.parentNode.remove();
      }
      function addNewMatch()
      {
         var newMatchHTML = `
            <p><label for="team-home[]">Team Home:</label>
                  <input type = "text" name = "team-home[]" value=""/>*
               </p>
               <p><label for="team-away[]">Team Away:</label>
                  <input type = "text" name = "team-away[]" value=""/>*
               </p>
               <p><label for="status[]">Status:</label>
                  <input type = "text" name = "status[]" value=""/>*
               </p>
               <p><label for="start-time[]">Start Time:</label>
                  <input type = "text" name = "start-time[]" value=""/>
               </p>
               <p><label for="start-date[]">Start Date:</label>
                  <input type = "text" name = "start-date[]" value=""/>*
               </p>
               <p><label for="location[]">Location:</label>
                  <input type = "text" name = "location[]" value=""/>*
               </p>
               <p><label for="score-home[]">Score Home:</label>
                  <input type = "text" name = "score-home[]" value=""/>*
               </p>
               <p><label for="score-away[]">Score Away:</label>
                  <input type = "text" name = "score-away[]" value=""/>*
               </p>
               <hr />
         `
         var elem = document.querySelector('#new-matches');

         // Get HTML content
         var html = elem.innerHTML;

         // Set HTML content
         elem.innerHTML += newMatchHTML
      }
   </script>
</html>